.git
.gitignore
.vs
.vscode
.idea

**/bin/
**/obj/
**/TestResults/
**/coverage/
**/coverage.cobertura.xml
**/*.trx

.env
.env.*
*.user
*.suo
*.swp
*.tmp

docker-compose.override.yml
.DS_Store

node_modules/
.npm/
.nuget/

artifacts/
coverage/
TestResults/
